<div class="main">
  <div class="subDiv">
    <div class="data">
      <div class="left">
        <mat-selection-list #shoes [multiple]="false">
          <mat-list-option
            class="list"
            *ngFor="let data of array"
            (click)="onSelectCategory(data.id)"
            [value]="data.name"
          >
            {{ data.name }}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div class="right">
        <cdk-virtual-scroll-viewport class="example-viewport">
          <div class="imgs">
            <div class="maininner" *ngFor="let data of arrayOfProducts">
              <div class="innerDiv">
                <div class="innerData">
                  <div class="img">
                    <img
                      class="img"
                      src="https://images.unsplash.com/photo-1618424181497-157f25b6ddd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wJTIwY29tcHV0ZXJ8ZW58MHx8MHx8&w=1000&q=80"
                      alt="Photo of a laptop"
                    />
                  </div>
                  <div class="descriptionData">
                    <h1>{{ data.name }}</h1>
                    <div class="description">
                      Description:
                      <p>
                        {{ data.description }}
                      </p>
                    </div>
                  </div>
                  <div class="price">
                    <div>
                      <p class="actual">
                        Actual Price: {{ data.price }}$
                      </p>
                    </div>
                    <div>
                      <p>
                        Discounted Price: {{ data.discounted_price }}$
                      </p>
                    </div>
                  </div>
                  <div class="btn">
                    <button
                      mat-button
                      routerLink="/productdetail/{{ data.product_id }}"
                    >
                      View Detail
                    </button>
                    <button mat-button color="primary" (click)="addToCart(data)">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  </div>
</div>
