
<div class="body">
  <div class="sidebar">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option
        class="list"
        *ngFor="let data of array"
        (click)="onSelectCategory(data.id)"
        [value]="data.name"
      >
        {{ data.name }}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="right-body">
    <div class="outerbox" *ngFor="let data of arrayOfProducts ">
      <div class="img1">
        <img
          class="img"
          src="https://images.unsplash.com/photo-1618424181497-157f25b6ddd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wJTIwY29tcHV0ZXJ8ZW58MHx8MHx8&w=1000&q=80"
          alt="Photo of a laptop"
        />
      </div>
      <div>
        <a routerLink="/productdetail/{{ data.product_id }}">
          <h1>{{ data.name }}</h1>
        </a>
      </div>
      <div>
        <h3>Description:</h3>
        <p>
          {{ data.description }}
        </p>
        <p>Price:{{data.price}}$</p>
      </div>
    </div>
  </div>
</div>
