.main {

  display: flex;
  flex-direction: column;
}

.subDiv {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
}

.list {
  color: white;
}

.data {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 5px;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #00a699;
  font-size: 16px;
}

img {
  width: 300px;
  cursor: pointer;
}

.example-card {
  width: 267px;
}

.right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  width: 80%;
  height: auto;
}

.example-viewport {
  height: 100%;
  width: 100%;
}


.example-item {
  height: auto;
}
.innerData {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}
.descriptionData {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  height: 130px;
}
.btn {
  display: flex;
  flex-direction: row;
}
button {
  width: 100%;
  border-radius: 10px;
}
.imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.actual {
  text-decoration: line-through;
  color: blue;
}
.addtocartbtn {
  color: white;
  background-color: #0c4da2;
}
.detailviewbtn {
  color: white;
  background-color: #00a699;
}

