<mat-toolbar>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon class="menu">menu</mat-icon>
  </button>
  -->

    <span>Kifayat</span>
    <span class="example-spacer"></span>
    <div class="inputField">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search Product</mat-label>
        <input  matInput title="search bar" />
      </mat-form-field>
    </div>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="openDialog()"
    >
      <mat-icon title="Cart">add_shopping_cart</mat-icon>
    </button>
   
</mat-toolbar>