
<div class="body">
        <div class="sidebar">
            <mat-selection-list #shoes [multiple]="false">
                
                <mat-list-option  *ngFor="let data of array" [value]="data">
                  {{data.name}}
                </mat-list-option>
              </mat-selection-list>  
        </div>
    
      
    <div class="right-body">

        <div class="outerbox">
            <div class="img1">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRpVZn8r6BYkeq0RvzKgkcITpupqebAnM9A&usqp=CAU">
            </div>
        </div>
        <div class="outerbox">
            <div class="img1">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRpVZn8r6BYkeq0RvzKgkcITpupqebAnM9A&usqp=CAU">
            </div>
        </div>
        <div class="outerbox">
            <div class="img1">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRpVZn8r6BYkeq0RvzKgkcITpupqebAnM9A&usqp=CAU">
            </div>
        </div>
        <div class="outerbox">
            <div class="img1">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRpVZn8r6BYkeq0RvzKgkcITpupqebAnM9A&usqp=CAU">
            </div>
        </div>
        <div class="outerbox">
            <div class="img1">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRpVZn8r6BYkeq0RvzKgkcITpupqebAnM9A&usqp=CAU">
            </div>
        </div>
        <div class="outerbox">
            <div class="img1">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRpVZn8r6BYkeq0RvzKgkcITpupqebAnM9A&usqp=CAU">
            </div>
        </div>
        <div class="outerbox">
            <div class="img1">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRpVZn8r6BYkeq0RvzKgkcITpupqebAnM9A&usqp=CAU">
            </div>
        </div>
        <div class="outerbox">
            <div class="img1">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRpVZn8r6BYkeq0RvzKgkcITpupqebAnM9A&usqp=CAU">
            </div>
        </div>
        <div class="outerbox">
            <div class="img1">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRpVZn8r6BYkeq0RvzKgkcITpupqebAnM9A&usqp=CAU">
            </div>
        </div>
        <div class="outerbox">
            <div class="img1">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRpVZn8r6BYkeq0RvzKgkcITpupqebAnM9A&usqp=CAU">
            </div>
        </div>
        <div class="outerbox">
            <div class="img1">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRpVZn8r6BYkeq0RvzKgkcITpupqebAnM9A&usqp=CAU">
            </div>
        </div>
        <div class="outerbox">
            <div class="img1">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRpVZn8r6BYkeq0RvzKgkcITpupqebAnM9A&usqp=CAU">
            </div>
        </div>

    </div>


</div>