table {
    width: 100%;
    background-color: white ;
    
    
}
th,td{
    color:black;
}
mat-typography{
    background-color: white;
    color: white;
    padding: 10px;
    
}

button{
    background-color: #00a699;
    color: white;
}
