

.btnchekout{
    background-color: #00a699;
    color: white;
}
.iconbtn{
    border: white;
    background-color: white;
}
.icons{
    font-size: 30px;
    color: #00a699;
    font-weight: 800px;
}
.buttontd{
    display: flex;
    flex-direction: row;
}
img{
    width: 150px;
    height: 100%;
    /* border-radius: 10px; */
}
td, th{
    border: 1px solid gray;
    text-align: center;
    text-align: center;

}
   
.addtocartbtn{
    width: fit-content;
    height: fit-content;
    margin-left: 5px;
}
mat-dialog-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.example-container {
    position: relative;
  }
  
  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
