<div class="main">
    <div class="subMain">
        <div class="subDiv">
            <div class="data">
                <div class="head">
                    <h1>Payment Method</h1>
                </div>
                <div>
                    <p>
                        *Choose Payment Method:
                    </p>
                </div>
                <div class="cards">
                    <div class="visa">
                        <img src="https://pngimg.com/uploads/visa/visa_PNG18.png"> 
                        <p>*Visa Card</p>
                    </div>
                    <div class="masterCard">
                        <img src="https://icon-library.com/images/master-card-icon/master-card-icon-13.jpg">
                        <p>*MasterCard</p>
                    </div>
                    <div class="onDelivery">
                        
                        <img src="https://st2.depositphotos.com/1031343/6862/v/380/depositphotos_68629709-stock-illustration-cash-on-delivery-label-sticker.jpg?forcejpeg=true">
                        <p>*Cash on Delivery</p>
                    </div>
                </div>
                <div class="billingSection">
                    <div class="billing">
                        <div class="billingIcon">
                            <mat-icon>help_outline</mat-icon>                            
                            <p>Billing Info</p>
                        </div>
                    </div>
                    <div class="cardInfo">
                        <div class="cardDetails">
                            <mat-icon>update</mat-icon>
                            <p>Contact Info</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>