.container {
    border: 1px solod;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    border-radius: 10px;
    background-color: #00a699;
}
.products {
    display: flex;
    flex-direction: row;
}
.productimag {
    max-width: 250px;
    margin: 10px;
    background-color: white;
}
.productSpec {
    max-width: 400px;
    height: 170px;
    margin: 10px;
    background-color: white;
    color: #4c4646;
    font-family: Georgia, serif;
}
.productReview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    display: flex;
    justify-content: center;
    font-family: Georgia, serif;
    font-weight: 800px;
    color: white;
}
.reviewadd {
    border: 1px solid #a3a2a2;
    margin-top: 10px;
    width: 730px;
    border-radius: 6px;
    background-color: white;
}
.example-full-width {
    height: 70px;
    width: 730px;
    border: 1px solid #a3a2a2;
    margin-top: 10px;
    border-radius: 6px;
}
.btn {
    background-color: #0c4da2;
    color:white;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border-radius: 10px;

}
.ProductDescription{
    display: flex;
    flex-direction: column;
    color: #4c4646;
    font-family: 700px;
    font-family: Georgia, serif;
}
.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .actual {
    text-decoration: line-through;
    color: blue;
  }