.container {
    border: 1px solod;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    background-color: #00a699;

}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    padding: 20px;
    border-radius: 10px;
    background-color: #00a699;
    width: 100%;

}

.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.productimag {
    max-width: 250px;
    margin: 10px;
    background-color: white;
}

.productSpec {
    max-width: 400px;
    height: 170px;
    margin: 10px;
    background-color: white;
    color: #4c4646;
    font-family: Georgia, serif;
}

.productReview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    display: flex;
    justify-content: center;
    font-family: Georgia, serif;
    font-weight: 800px;
    color: white;
}

.reviewadd {
    border: 1px solid #a3a2a2;
    margin-top: 10px;
    width: 730px;
    border-radius: 6px;
    background-color: white;
}

.example-full-width {
    height: 70px;
    width: 730px;
    border: 1px solid #a3a2a2;
    margin-top: 10px;
    border-radius: 6px;
}

.btn {
    background-color: #0c4da2;
    color: white;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.ProductDescription {
    display: flex;
    flex-direction: column;
    color: #4c4646;
    font-family: 700px;
    font-family: Georgia, serif;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.actual {
    text-decoration: line-through;
    color: blue;
}

.reviewcard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review {
    padding: 10px;
    width: 500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.example-container {
    position: relative;

}

.example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;

}

table {
    width: 730px;
    border-radius: 10px;

}

.tabledata {

    color: white;
    background-color: white;
    width: 745px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.reviewheading {
    color: black;
    margin-top: 20px;
}

.material-icons {
    color: yellow;
    margin-top: 20px;
}

.star {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.example-rate-limit-reached {
    max-width: 360px;
    text-align: center;

}

/* Column Widths */
.mat-column-number,
.mat-column-state {
    max-width: 64px;
}

.mat-column-created {
    max-width: 124px;
}